* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: white;

}
  .right-text-div > h1 {
   font-weight: 500;
   font-size: x-large;
  }
  
  .right-text-div > h1 > span {
    font-weight: 300;
    font-size: large;
  }

  /* cards */
  .card {
    background: linear-gradient(135deg, #ffffff, #e0e0e0);
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 280px;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }

  .card img {
      width: 100%;
      height: auto;
  }

  .card-content {
      padding: 20px;
      text-align: center;
  }

  .card-title {
      font-size: 20px;
      margin-bottom: 10px;
  }

  .card-description {
      font-size: 14px;
      color: #555;
  }
  /* cards */


/* animation */
  .image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-gallery img {
    transition: transform 0.3s;
  }
  
  .image-gallery img:hover {
    transform: rotate(0deg);
  }
  /* animation */

/* styles.css or your custom CSS file */
.extra-small-narrow {
  font-size: -0.2rem; /* Smaller font size */
  letter-spacing: 0.01rem; /* Tighter letter spacing */
  font-weight: 100; /* Extra thin font weight */
}

.your-element {
  width: 83px; /* Adjust the width as needed */
  height: 83px; /* Adjust the height as needed */
  border-radius: 50% 0 50% 50%;
  box-shadow: none; /* Adjust the box-shadow as needed */
  transform-origin: center;
  transition: transform 0.5s ease-out;
}

.group:hover .your-element {
  transform: rotate(133deg);
}





.border-pattern {
  position: relative;
  background-image: url('../src/assets/Ornamental vector Hiba.png');  
  background-size: cover;
}



.president-message {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 27px;
  text-align: left;
  letter-spacing: normal;
  color: #686868;
  padding: 6px;
  border-radius: 5px;
}



.underline-custom {
  position: relative;
  display: inline-block;
}

.underline-custom::after {
  content: '';
  position: absolute;
  left: 5%;
  bottom: -4px; /* Adjust the position as needed */
  transform: translateX(-50%);
  width: 10%; /* Adjust the width as needed */
  height: 3px; /* Adjust the height as needed */
  background-color: #00A3E1; /* Adjust the color as needed */
}


  @media (max-width: 768px) {
      .card {
          width: 60%;
      }
  }

  





  

  