@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body.rtl {
    direction: rtl;
  }


body.ltr {
  direction: ltr;
}

.static-button {
  direction: ltr !important;
  text-align: left !important;
}


